body {
  background-color: hsl(257, 40%, 49%);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'box-a'
    'box-b';
}

/* Box A */
.box-a {
  grid-area: box-a;
  background-image: url(../images/bg-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
}

.logo {
  max-width: 50%;
  padding-bottom: 15%;
}

.mockups {
  max-width: 100%;
}

/* Box B */
.box-b {
  grid-area: box-b;
  padding: 10%;
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.btn {
  font-family: 'Poppins', sans-serif;
  width: 50%;
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  border: none;
  padding: 0.7rem;
  border-radius: 30px;
  margin-top: 5%;
  box-shadow: 0 1px 5px;
}

footer {
  text-align: center;
  margin-top: 10%;
}

i {
  border: 1px solid;
  border-radius: 100px;
  padding: 0.5em;
  margin: 5px;
  width: 1em;
  text-align: center;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(90, 50%, 74%);
}

/* Desktop View */
@media (min-width: 800px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    height: 100vh;
  }

  .wrapper {
    grid-template-areas:
      'box-a box-b';
    height: 100%;
  }

  .box-a {
    background-image: none;
    padding: 0;
    min-width: 50%;
    height: 100%;
  }

  .logo {
    padding-bottom: 10%;
  }

  .box-b {
    padding: 0;
    text-align: left;
    height: 100%;
    align-content: space-around;
  }
  .btn {
    width: 25%;
  }
  footer {
    text-align: right;
  }
}
